body.page1{

    background: url("images/bg.jpg");
}
body.page2{
    background: url("images/bg.jpg");
}

  .formsong{
    font: "Berlin Sans FB Demi";
      color: firebrick;

}
  .page2 h1,h2{
      color: gold;
  }
  .c{
      color: black !important;
      text-decoration: none;
  }