
{% extends 'music/base.html' %}
<title>{% block title %} album details {% endblock %}</title>
{% block body %}

<body class="page2">
<h1>{{ alb.shilpi }}</h1>
<h2>{{ alb.album_Name }}</h2>

{% if error_message %}
<p><strong> {{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' alb.id %}" class="formsong" method="post">

{% csrf_token %}
    {% for song in alb.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">

        <label for="song{{ forloop.counter }}">
        {{ song.Gaan_title }}
        {% if song.fav %}
        <img src="http://i.imgur.com/b9b13Rd.png"/>
        {% endif %}

        </label><br>

    {% endfor %}

<input type="submit" value="favorite">
</form>
</body>
{% endblock %}